/*===== VARIABLES CSS =====*/
:root {

  /* Cores */
  --first-color: #1b9aaa;
  --second-color: #050505;
  --third-color: #dddbcb;
  --fourth-color: #f5f1e3;

}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(120deg, var(--first-color) 0%, var(--second-color) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Adicionado para organizar os elementos verticalmente */
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    text-align: center;
    position: relative; /* Adicionado para mover o título para cima do formulário */
    bottom: 50px; /* Adicionado para mover o título para cima do formulário */
}

form {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    display: block;
    text-align: left;
}

input[type="password"] {
    border: none;
    background: #f2f2f2;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box; /* Adicionado para incluir o padding na largura total */
}

button {
    border: none;
    padding: 15px 30px;
    background-image: linear-gradient(120deg, var(--first-color) 0%, var(--second-color) 100%);
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50px;
    display: block;
    width: 100%;
    text-align: center;
}

button:hover {
    transform: translateY(-3px);
}

button:active {
    transform: translateY(-1px);
}