/*===== VARIABLES CSS =====*/
:root {

  /* Cores */
  --first-color: #1b9aaa;
  --second-color: #050505;
  --third-color: #dddbcb;
  --fourth-color: #f5f1e3;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Adicionado para suavizar os cantos do contêiner */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-size: 2.5em; /* Adicionado para aumentar o tamanho do título */
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="date"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 1.2em; /* Adicionado para aumentar o tamanho da fonte do campo de entrada */
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--first-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 1.2em; /* Adicionado para aumentar o tamanho da fonte do botão */
}

button[type="submit"]:hover {
    background-color: var(--first-color);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--first-color);
    color: #fff;
}

tr:nth-child(even) {
    background-color: #cecece;
}

tr:hover {
    background-color: #ddd;
}

.bodyform {
    margin-left: 20%;
    margin-right: 20%;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin: 0.6rem 0;
    justify-content: space-between;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
    margin: 0.6rem 0;
    width: 100%;
}

label {
    margin: 0.6rem 0;
    font-weight: bold;
}

input[type="date"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--first-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.input-cpf {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    width: 100%;
}

.input-cpf:hover {
     background-color: #eeeeee75;
 }

 .input-cpf:focus-visible {
       outline: 1px solid var(--first-color);
 }

 .input-cpf label,
 .gender-title h6 {
      font-size: 0.75rem;
      font-weight: 600;
      color: #000000c0;
 }

 .input-cpf::placeholder {
     color: #000000be;
 }

/* Adicionado para alinhar o rótulo à esquerda do campo de entrada */
.input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
